<ul id="kaTop">
    <li onclick="getShowCT()"><a class="ka" id="ka" href="javascript:void(0);"></a></li>
    <li><a class="top" id="top" href="javascript:void(0);"></a></li>
</ul>
        <section class="w1200" onload="init()">
            <div class="product_wrap">
                <div class="product_detail">
                    <div class="product_detail_left">
                        <div class="product_main_pic">
                            <img src="../img/lee/2.png">
                        </div>
                    </div>
                    <div class="product_detail_right">
                        <div class="product_sale">
                            <span>15%↓</span>
                        </div>
                        <div class="product_title">헤이네이처 어성초 로션</div>
                        <ul>
                            <li class="normal_font">
                                <span class="weight700">추천피부</span><br>
                                <span>✓ 지성   ✓ 중성   ✓ 건성</span><br><br>
                                <span class="weight700">메인 성분</span><br>
                                <span>✓ 약모밀추출물 ✓ 어성초</span><br><br>
                                <span>어성초 성분이 자극된 피부를 부드럽게 토닥여줘요.<br>광물성 오일, 인공 방부제, 인공 합성향, 인공 색소가 들어있지 않아 평소에 민감하신 분들도 마일드하게 사용할 수 있어요.<br>자연 유래 성분이 들어 있어 넉넉하게 발라줘도 피부에 부담감이 적어요.</span><br><br>
                                <span class="weight700 circular-std">Without</span><br>
                                <span>파라벤, 페녹시에탄올, 인공 방부제, 인공 색소, 알러지 유발 향료</span>
                            </li>
                            <li class="product_price">
                                <span>27,000원</span>
                            </li>
                            <li class="product_saleprice">
                                <span class="green">22,950원</span>
                            </li>
                        </ul>
                        <div class="product_totalprice">
                            <table>
                                <tbody>
                                    <tr>
                                        <form name="form" method="get">
                                        <td class="product_totalprice_left">헤이네이처 어성초 로션 100ml</td>
                                        <td class="product_totalprice_middle">
                                            <span>                                             
                                                <input type=hidden name="sell_price" value="22950">
                                                <input type="text" name="amount" value="1" width="22px" onchange="change();">
                                                <input type="button" value="" onclick="add();">
                                                <input type="button" value="" onclick="del();">                                                
                                            </span>
                                        </td>
                                        <td class="product_totalprice_right">                                              
                                <div><div id="total1"></div><span class="sum1">원</span></div>
                                        </td>
                                    </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form name="form2" method="get">
                            <div class="product_totalprice_display">
                                <input type=hidden name="sell_price2" value="22,950">
                                <input type="hidden" value="" onclick="add();">
                                <input type="hidden" value="" onclick="del();">     
                                <!-- <div>
                                    <div id="total2"></div><span class="sum2">원</span>
                                </div> -->
                                <!-- <input type="text" name="amount2" value="1" width="22px" onchange="change();">개 -->
                            </div>
                        </form>
                        <p class="font12">할인가가 적용된 최종 결제예정금액은 주문 시 확인할 수 있습니다.</p>
                        <div class="product_checkout_wrap">
                            <div class="product_checkout">
                                <a class="product_checkout_left font20" href="">바로 구매하기</a>
                                <a class="product_checkout_right font20" href="">장바구니 담기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_photoreviews_wrap">
                <div class="product_photoreviews">
                    <h3>SNS Review</h3>
                    <div class="product_photoreviews_w768_display">
                        <div class="product_photoreviews_contents">
                            <ul>
                                <li> 
                                    <a href="https://www.instagram.com/p/CBf1LYjF2yl/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CBF9rWQlDi-/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/Br5QRjRh08w/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CG4ocX1FyUY/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/tv/CbEy5XYFMj7/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CZrqZGwv8C1/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/p/CDqC0XuFpuh/?utm_source=ig_web_copy_link" target="_blank">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/explore/tags/%ED%97%A4%EC%9D%B4%EB%84%A4%EC%9D%B4%EC%B2%98/">
                                        <div class="product_more_txt">
                                            <span>더보기+</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                <ul class="product_nav">
                    <li id="first_li"><a href="#section1">상세정보</a></li>
                    <li><a href="#section2">리뷰</a></li>
                    <li><a href="#section3">배송정책</a></li>
                </ul>
          <section class="product_nav_wrap" id="section1">
                <div class="picture_wrap">
                    <div>
                        <img src="../img/lee/lotion_banner2.jpg">
                        <img src="../img/lee/lotion_banner.jpg">
                        <img src="../img/lee/new_lotion_1.jpg">
                        <img src="../img/lee/new_lotion_4.jpg">
                        <img src="../img/lee/lotion_detail.jpg">
                        <img src="../img/lee/lotion_pcr_review.jpg">
                    </div>
                </div>
          </section>
            <section class="product_nav_wrap" id="section2">
                <div class="product_review">
                    <span>Photo Review</span>
                </div>
                <div class="product_review_widget_wrap">
                    <div class="product_review_widget">
                        <div class="product_review_total">+500</div>
                        <figure class="reviwer">
                            <a>
                                <img src="../img/lee/200707200959.jpeg">
                            </a>
                            <figcaption>+Review</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure class="event_on">
                            <a>
                                <img src="../img/lee/201126003107_ro.jpeg">
                            </a>
                            <figcaption>김주*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure class="event_on">
                            <a>
                                <img src="../img/lee/lotion_1.jpg">
                            </a>
                            <figcaption>박나*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/square__200926235221.jpeg">
                            </a>
                            <figcaption>이동*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/square__210107123840.jpeg">
                            </a>
                            <figcaption>최지*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/20200704_203558_ro.jpg">
                            </a>
                            <figcaption>신희*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/20201130_121443_1.jpg">
                            </a>
                            <figcaption>김순*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/220119010612.jpeg">
                            </a>
                            <figcaption>이화*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/220228190158_ro.jpeg">
                            </a>
                            <figcaption>용화*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/20170810111500.jpg">
                            </a>
                            <figcaption>우종*</figcaption>
                        </figure>
                    </div>
                    <div class="product_review_widget">
                        <figure>
                            <a href="">
                                <img src="../img/lee/image_8_ro_9.jpg">
                            </a>
                            <figcaption>이정*</figcaption>
                        </figure>
                    </div>
                </div>
            <div class="product_comment_wrap">
                <div class="product_comment">
                    <article class="product_comment_contents">
                        <div class="product_comment_title">상품평수</div>
                        <div class="product_comment_total">100개</div>
                    </article>
                    <article class="product_comment_classify_wrap">
                        <select class="product_comment_classify">
                            <option value="최신">최신순</option>
                            <option value="평점">별점순</option>
                        </select>
                    </article>
                </div>

                <!-- 리뷰 1페이지 start -->

                <section class="review_page_section" id="review_section1">
                    <%rows.forEach(( row, index )=>{%>
                        <div class="product_review_comment_wrap">
                            <div class="product_review_comment">
                                <div class="product_review_comment_left">
                                    <span class="star-prototype"><%=row.star%></span>
                                    <div class="product_review_comment_name"><%=row.username%></div>
                                    <div class="product_review_comment_date"><%=row.update_time%></div>
                                </div>
                                <div class="product_review_comment_right">
                                    <div class="product_review_comment_detail"><%=row.content%></div>
                                    <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                </div>
                                <div class="review_delete" onclick="javascript:location.href='/deletedetail?id=<%=row.id%>'">삭제</div>
                            </div>
                        </div>
                    <%})%>
                    <!-- <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">주이＊</div>
                                <div class="product_review_comment_date">2022-04-28</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">믿고쓰는 헤이네이처 재구매하고 갑니당~ ㅎㅎ</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">안소＊</div>
                                <div class="product_review_comment_date">2022-04-22</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">헤이네이처? 친구 추천으로 써봤는데 나름 만족스러워요. 꾸준히 써봐야 알 것 같아요.</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">김성＊</div>
                                <div class="product_review_comment_date">2022-04-03</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">스킨만 구매했었는데 로션도 좋네요. 역시 헤이네이처를 선택한 것은 신의 한 수!</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">백동＊</div>
                                <div class="product_review_comment_date">2022-03-29</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">촉촉하고 수분감이 오래가요 :)</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div> -->
                </section>

                                <!-- 리뷰 2페이지 start -->
                
                                <section class="review_page_section" id="review_section2">
                                    <div class="product_review_comment_wrap">
                                        <div class="product_review_comment">
                                            <div class="product_review_comment_left">
                                                <div class="product_review_comment_star">★★★★</div>
                                                <div class="product_review_comment_name">이일＊</div>
                                                <div class="product_review_comment_date">2022-05-10</div>
                                            </div>
                                            <div class="product_review_comment_right">
                                                <div class="product_review_comment_detail">사용하면 너무 촉촉해요. 지속감 완벽해!</div>
                                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_review_comment_wrap">
                                        <div class="product_review_comment">
                                            <div class="product_review_comment_left">
                                                <div class="product_review_comment_star">★★★★</div>
                                                <div class="product_review_comment_name">심형＊</div>
                                                <div class="product_review_comment_date">2022-04-28</div>
                                            </div>
                                            <div class="product_review_comment_right">
                                                <div class="product_review_comment_detail">시간없어서 아무거나 바를땐 헤이네이처가 최고입니다.</div>
                                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_review_comment_wrap">
                                        <div class="product_review_comment">
                                            <div class="product_review_comment_left">
                                                <div class="product_review_comment_star">★★★★★</div>
                                                <div class="product_review_comment_name">정의＊</div>
                                                <div class="product_review_comment_date">2022-04-22</div>
                                            </div>
                                            <div class="product_review_comment_right">
                                                <div class="product_review_comment_detail">부모님도 좋아하셔서 저도 나중에 써봐야 할 듯.</div>
                                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_review_comment_wrap">
                                        <div class="product_review_comment">
                                            <div class="product_review_comment_left">
                                                <div class="product_review_comment_star">★★★</div>
                                                <div class="product_review_comment_name">김지＊</div>
                                                <div class="product_review_comment_date">2022-04-03</div>
                                            </div>
                                            <div class="product_review_comment_right">
                                                <div class="product_review_comment_detail">세트로 살 걸 그랬어요. 다음엔 세트로 구입할게요.</div>
                                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product_review_comment_wrap">
                                        <div class="product_review_comment">
                                            <div class="product_review_comment_left">
                                                <div class="product_review_comment_star">★★★★</div>
                                                <div class="product_review_comment_name">설희＊</div>
                                                <div class="product_review_comment_date">2022-03-29</div>
                                            </div>
                                            <div class="product_review_comment_right">
                                                <div class="product_review_comment_detail">수분감이 오래가요 :)</div>
                                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                                <!-- 리뷰 3페이지 start -->
                
                <section class="review_page_section" id="review_section3">
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">박의＊</div>
                                <div class="product_review_comment_date">2022-05-10</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">민감성 피부라 아무거나 사용하지 못했는데 너무 잘맞네요.</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">조민＊</div>
                                <div class="product_review_comment_date">2022-04-28</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">헤이네이처 조아요!!!</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">사미＊</div>
                                <div class="product_review_comment_date">2022-04-22</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">다른 곳에 비해 가성비 너무 좋아요~</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">정지＊</div>
                                <div class="product_review_comment_date">2022-04-03</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">동생선물로 아주 안성만춤입니다.</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                    <div class="product_review_comment_wrap">
                        <div class="product_review_comment">
                            <div class="product_review_comment_left">
                                <div class="product_review_comment_star">★★★★★</div>
                                <div class="product_review_comment_name">서희＊</div>
                                <div class="product_review_comment_date">2022-03-29</div>
                            </div>
                            <div class="product_review_comment_right">
                                <div class="product_review_comment_detail">재구매해서 벌써 8번 구입했습니다.</div>
                                <div class="product_review_comment_where">알파리뷰에서 작성됨</div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="product_review_bottom">
                <ul class="product_review_paging">
                    <li><a href="#review_section1">1</a></li>
                    <li><a href="#review_section2">2</a></li>
                    <li><a href="#review_section3">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">6</a></li>
                </ul>
                <div class="product_review_btnbox" id="review_write_btn">
                    <button id="myBtn"><a>리뷰 작성하기</a></button>
                </div>
            </div>

<!-- 이벤트 화면 팝업 start -->

        <div  class="dis ev_box_wrap" id="photo1">
            <div class="event_box">
                <a class="close">X</a>
                <div class="detail_title_box">
                    <h4>Photo Review</h4>
                    <p>김주*</p>
                </div>
                <div class="con_box2">
                    <div class="event_notice">
                        <div class="event_notice_img_wrap">
                        </div>
                        <div class="pr_option">
                            <div><span>피부타입</span></div>
                            <div><span>복합형, 민감성</span></div>
                            <div><span>★★★★★</span></div>
                        </div>
                        <div class="pr_option_txt">
                            <p>재주문의 재주문입니다-!^^
                            역시 믿고 쓰는 헤이네이처!
                            끈적임 없이 흡수되어서 너무 좋아요</p>
                        </div>
                    </div> 
                  </div>
              </div>
          </div>

          
        <div  class="dis ev_box_wrap" id="photo2">
            <div class="event_box">
                <a class="close">X</a>
                <div class="detail_title_box">
                    <h4>Photo Review</h4>
                    <p>박나*</p>
                </div>
                <div class="con_box2">
                    <div class="event_notice">
                        <div class="event_notice_img_wrap ev_img">
                        </div>
                        <div class="pr_option">
                            <div><span>피부타입</span></div>
                            <div><span>수분 부족 지성</span></div>
                            <div><span>★★★★★</span></div>
                        </div>
                        <div class="pr_option_txt">
                            <p>펌핀했을때 묽지도 않고 부드럽게 발려요
                                밀림 현상도 없고 정말 빠르게 흡수되요
                                번들 거림이 없어서 너무 좋은 것 같아요 ㅋㅋ
                                향도 무난하고 이 위에 화장도 해봤는데 파운데이션도 안밀리고 떡지지도 않아서 너무 좋아요~</p>
                        </div>
                    </div> 
                  </div>
              </div>
          </div>


        <!-- 리뷰 작성하기 start -->

        <% if(typeof errs !== 'undefined'){ %>
            <% errs.forEach(()=>{ %>
                <h3><%= err.param %> : <%= errs.msg %></h3>
            <% }) %>
        <% } %>

        <form class="w1200" method="POST" action="/store2">
        <div class="review_write_wrap disnone" id="myModal">
            <div class="review_write_title_wrap">
                <div class="review_write_title">
                    <img src="../img/lee/product_icon-xxhdpi.png">
                    <span>상품 품질 리뷰</span>
                </div>
                <div class="review_write_title2">
                    <p>이 상품의 품질에 대해서 얼마나 만족하시나요?</p>
                </div>
            </div>
            <div class="naming">
                <div>이름</div>
                <input type="text" id="username" name="username">
            </div>
            <div class="review_rating">
                <div class="review_rating_left">
                    <img src="../img/lee/2.png">
                </div>
                <div class="review_rating_right">
                    <div class="review_rating_right_title">헤이네이처 어성초 로션 100ml</div>
                    <!-- <div class="review_rating_right_stars">
                        <button class="mystar" value="1" type="button"></button>
                        <button class="mystar" value="2" type="button"></button>
                        <button class="mystar" value="3" type="button"></button>
                        <button class="mystar" value="4" type="button"></button>
                        <button class="mystar" value="5" type="button"></button>
                    </div> -->

                    <div class="starRev">
                        <span id="star11" class="starR" onclick="star1()">별1</span>
                        <span id="star22" class="starR" onclick="star2()">별2</span>
                        <span id="star33" class="starR" onclick="star3()">별3</span>
                        <span id="star44" class="starR" onclick="star4()">별4</span>
                        <span id="star55" class="starR" onclick="star5()">별5</span>
                    </div>
                    <input type="hidden" value="" name="starcount" id="starcount">

                    
                    <!-- <div class="star-container" id="star">

                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                        <span class="star">★</span>
                      
                      </div> -->



                </div>
            </div>
            <div class="review_writing">
                <div class="review_writing_left">상세리뷰</div>
                <div class="review_writing_right">
                    <div class="review_writing_content">
                        <textarea id="content" name="content" placeholder="상품 품질에 대한 고객님의 솔직한 리뷰를 남겨주세요."></textarea>
                    </div>
                </div>
            </div>
            <div class="review_attach">
                <div class="review_attach_left">사진첨부</div>
                <div class="ask_attach_file">
                    <div class="insert">
                        <!-- <form id="btn_total" name="insertf" action="insertf" method="post" enctype="multipart/form-data"> -->
                            <label for="myFile">+ 추가</label>
                            <input type='file' id="myFile" name='' multiple/>
                            <div id="showFiles"></div>
                        <!-- </form> -->

                    </div>
                </div>
            </div>


            <div class="review_btn">
                <button type="submit" class="submit_btn">등록하기</button>
                <button type="button" class="cancel_btn">취소하기</button>
            </div>

            </div>
        </div>
    </form>

            </section>
            <section class="product_nav_wrap" id="section3">
                <div class="product_delivery_wrap">
                    <div class="product_delivery_title">배송 교환 정책</div>
                    <div class="product_delivery">
                        <div class="product_delivery_left">
                            <p><span class="h5 bold black">*배송</span>
                                <br><br>
                                평일 오후 5시까지 결제된 건은 당일 출고됩니다. 
                                결제 후 취소를 원하시면 고객센터(070-4352-5176)로 문의바랍니다.
                                <br>
                                배송 물량 및 연휴 등으로 마감 시간이 변동될 수 있습니다.
                                택배업체는 로젠택배를 이용하여 배송하고 있습니다.
                                <br>
                                당일 출고되면 1~2일 내로 받아보실 수 있지만,
                                택배물량 또는 천지지변에 따라 4~5일(일요일/공휴일제외) 이상 지연될 수 있으니 
                                양해 부탁드립니다.(일요일/공휴일 제외)
                                <br>
                                금요일 오후 5시 이후 결제 건은 다음주 월요일에 출고됩니다.
                            </p>
                            <br>
                            <p><span class="h5 bold black">* 배송 조회 방법</span>
                                <br><br>
                                홈페이지 > 마이페이지 > 구매내역 
                                (발송 당일 오후 18시 이후 또는 다음날 오전부터 조회 가능합니다)
                            </p>
                            <br>
                            <p><span class="h5 bold black">* 배송 불가 지역 → 군 부대, 해외배송</span>
                                <br><br>
                                죄송하지만, 택배사 문제로 군 부대는 배송이 불가합니다.
                                꼭 군 부대로 받으시길 원하시면 
                                5,000원(우체국택배비) 추가 배송비 입금해주셔야 합니다
                                또한, 국내배송만 지원하고 있으므로 해외배송은 어렵습니다.
                            </p>
                            <br>
                            <p>
                                <span class="h5 bold black">* 주소지, 연락처 오류로 반송 처리된 경우</span>
                                <br><br>
                                다시 받아보길 원하신다면 왕복 택배비 5,000원을 부담해주셔야 됩니다.
                            </p>
                        </div>
                        <div class="product_delivery_right">
                            <div class="product_delivery_right_top">
                                <p>
                                    <span class="h5 bold black">* 반품 / 환불</span>
                                    <br><br>
                                    주소 : 서울 금천구 서부샛길 606 대성디폴리스 A동 지하 B116호
                                    (반품 전 전화 또는 게시판에 접수 부탁드립니다.)
                                    <br>
                                    070-4352-5176 또는 게시판에 글을 남겨주시면 반품/환불에 대한 답변 드리겠습니다.
                                    반품 / 환불을 원하시는 고객님은 아래 내용을 참고하여 주시기 바랍니다.
                                    <br>
                                    * 취소 신청은 물품 배송 이전에만 가능하며 
                                    출고 이후에는 반품으로 진행 해주셔야 합니다.
                                    <br>
                                    * 임의로 반송 보내시어 분실된 물품에 대해서는 도움드리기 어렵습니다.
                                    <br>
                                    * 임의 반송은 절대 하시면 안됩니다.
                                    - 자세한 환불 문의는 게시판이나 고객센터 상담을 통해 진행 부탁드립니다.
                                </p>
                            </div>
                            <br>
                            <div class="product_delivery_right_bottom">
                                <p>
                                    <span class="black bold">1. 단순변심인 경우</span>
                                    <br><br>
                                    - 결제일 다음날로부터 7일 이내에 개봉하지 않은 새 제품 (단상자 개봉 흔적X)일 경우에만 
                                    가능하며 사은품을 함께 받아보신 경우 모두 반납해주셔야 합니다.
                                    (단, 사은품 사용시 해당 금액만큼 공제 후 환불)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">2. 상품불량, 오배송인 경우</span>
                                    <br><br>
                                    - 제품 구매일 다음날로부터 7일 이내 교환/반품이 가능하며
                                    택배비는 헤이네이처에서 부담합니다.
                                    (상품 불량, 오배송 증명 사진을 게시판에 올려주세요.)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">3. 제품 사용 후 피부 이상인 경우</span>
                                    <br><br>
                                    - 결제일 다음날로부터 10일 이내에 피부과에서 받은 처방전
                                    약봉지, 피부 트러블 발생 사진(사용 전, 후)을 첨부하여
                                    '헤이네이처' 문의 게시판에 남겨주시면 확인 후 환불 및 반품을 도와드리겠습니다.
                                    (결제일 다음날로부터 15일이 지난 경우, 환불 불가)
                                </p>
                                <br>
                                <p>
                                    <span class="black bold">4. 반품 / 환불이 불가능한 경우</span>
                                    <br><br>
                                    - 포장을 개봉하여 사용하거나 상품의 가치가 훼손된 경우
                                    (단상자/비닐 훼손도 포함)

                                    - 피부 이상이더라도 구매 후 15일이 지난 경우

                                    - 제품을 사용 하셨을 경우

                                    더 궁금하신 사항이 있을 경우 '헤이네이처' 게시판이나 고객센터를 이용해 문의 주시면 
                                    빠르게 도움 드리도록 하겠습니다.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/PRODUCT_DETAIL.JS"></script> -->